<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<link rel="stylesheet" href="https://bootswatch.com/united/bootstrap.css">
		<title>MVC With Medicine!</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
