li {
  padding: 1px 15px 15px 15px;
  margin: 5px;
  background: #e4d2d3;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: #abbda2;
}

.form-group {
  margin: 5px;
}
